## Machine Learning

### Resampling - Cross Validation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split, LeaveOneOut, KFold
from sklearn.metrics import mean_squared_error, roc_auc_score

from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.preprocessing import PolynomialFeatures

In [2]:
bd = pd.read_csv("http://www-bcf.usc.edu/~gareth/ISL/Auto.csv")
bd.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [3]:
bd.describe()

,mpg,cylinders,displacement,weight,acceleration,year,origin
count,397.000000,397.000000,397.000000,397.000000,397.000000,397.000000,397.000000
mean,23.515869,5.458438,193.532746,2970.261965,15.555668,75.994962,1.574307
std,7.825804,1.701577,104.379583,847.904119,2.749995,3.690005,0.802549
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.000000,2223.000000,13.800000,73.000000,1.000000
50%,23.000000,4.000000,146.000000,2800.000000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3609.000000,17.100000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [15]:
bd.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
year              int64
origin            int64
name             object
dtype: object

In [14]:
bd.horsepower = pd.to_numeric(bd.horsepower,errors='coerce')

In [17]:
bd.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      5
weight          0
acceleration    0
year            0
origin          0
name            0
dtype: int64

In [19]:
bd = bd.dropna()

In [20]:
bd.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
year            0
origin          0
name            0
dtype: int64

In [21]:
y = bd.mpg
X = bd.horsepower
y = np.array(y)
X = np.array(X)
X = X.reshape(-1,1)

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =.3, random_state=5)

In [28]:
reg = LinearRegression()
reg.fit(X_train, y_train)
yhat = reg.predict(X_test)
medida = mean_squared_error(y_test, yhat)
print('MSE for Simples Linear Regression: ', medida)

MSE for Simples Linear Regression:  34.61244348009657

## Estimando o MSE da Regressão com o LOOCV

In [33]:
loo = LeaveOneOut()

mse_list = []

for train, test in loo.split(X):
    X_train, X_test = X[train], X[test]
    y_train, y_test = y[train], y[test]
    
    reg.fit(X_train, y_train)
    yhat = reg.predict(X_test)
    medida = mean_squared_error(y_test, yhat)
    mse_list.append(medida)

print(mse_list)
mse_array = np.array(mse_list)

[2.020010024321651, 1.2509241240422704, 3.068051640163971, 0.06799019837204447, 0.7082556294244434, 41.35667450716614, 81.37553579730985, 67.14947672916045, 97.04988465707532, 26.34303682304336, 3.6742869739717334, 0.4707416905678176, 1.6050778867388202, 97.04988465707532, 0.889557151130716, 8.69418109789263, 44.12289653365883, 30.656222509959434, 0.9165497318131891, 45.31853784962301, 1.457052807537722, 3.0098355440288405, 0.0035461760456729618, 15.29640877266284, 22.502220796825593, 16.79054457227355, 2.7673535145602672, 18.535464818187215, 0.22995747384892581, 0.9165497318131891, 5.183799994543558, 0.0035461760456729618, 26.674551027218364, 54.47911198315081, 51.40783236884584, 49.94052560583025, 38.03600056861017, 0.011988458474189093, 2.9103300297208614, 3.2310436344767135, 5.166911181280772, 0.23248733238398803, 0.010667890815345261, 0.48261526388763243, 21.021111412644863, 43.558519729146035, 26.674551027218364, 65.12311616023943, 11.369041835374313, 5.183799994543558, 1.2508572731443384, 4.278732106338397, 1.771618190537011, 35.80448755894805, 12.151985486180129, 8.410440413367878, 0.889557151130716, 5.366572585517539, 71.75958415442513, 33.02308418407844, 28.923965018023665, 0.8090346864255135, 2.9103300297208494, 1.6050778867388293, 3.2310436344767006, 0.5556481161804286, 15.837456249677734, 6.186339359643942, 7.300692933174863, 9.62066868485245, 31.80793552879095, 1.6050778867388202, 41.46998611428401, 23.625337553584004, 5.16691118128074, 18.220586850469868, 35.55995554549231, 27.24248885701749, 9.357612276920475, 19.14019398093359, 6.724508275237923, 2.6544067152096105, 0.48192211503588245, 0.9165497318131891, 0.48261526388763243, 5.16691118128074, 16.567345746244207, 18.749669073287233, 1.6050778867387934, 11.40418000725182, 10.75349008199783, 4.04602924963576, 5.16691118128074, 51.41270729757681, 60.75518841514566, 0.48261526388763243, 28.90009236509785, 66.79004642792562, 38.03600056861017, 65.12311616023943, 3.7864354584130346, 45.31853784962301, 28.000884701957457, 2.5299580422376797, 0.010667890815345261, 0.23248733238398803, 38.03600056861017, 36.77006695590036, 57.82504351583274, 9.653261953013947, 60.09991341306478, 56.90043209972587, 4.209601090058051, 0.07341613296565833, 4.241410767208632, 162.50411782850256, 10.412495210045387, 16.926387239773643, 31.225692999805236, 10.666115773090793, 1.6050778867388023, 2.047146167539338, 0.46362722457281796, 0.2813085301881377, 24.542274373443504, 26.674551027218364, 84.18264274584925, 2.7156861364894316, 1.7239398618174464, 5.458247703111549, 9.672737231941262, 66.79004642792562, 43.429415369092965, 28.90009236509785, 3.408941844288855, 10.753490081997807, 5.166911181280724, 14.867482806368631, 5.16691118128074, 4.719854612759141, 11.404557020217805, 2.657231794074396, 0.5377148356518874, 2.8987260659573546, 0.009584907548846295, 16.926387239773703, 4.435386840626337, 0.39260331328686454, 0.5561743972181197, 2.7156861364894316, 35.48262200951494, 28.90009236509785, 185.79376556396008, 185.79376556396008, 8.566785739672033, 4.241410767208618, 0.06799019837204447, 6.707681708696559, 31.22003533619729, 54.47911198315081, 57.64925151133202, 48.433836977783514, 2.4870762980473216, 6.654631893569891, 43.5279867200212, 0.821133365786311, 14.804218263692206, 17.32348374467055, 21.542833255760787, 0.6160146596000354, 14.030144313621475, 0.39260331328686454, 44.12289653365883, 0.012949073832248439, 45.55564838949143, 3.7864354584130484, 9.331482432986997, 6.1185286610629115, 10.401451042958207, 2.0740885191041953, 2.7025644805388542, 4.656940705428016, 0.17248780080220805, 2.1653969968420124, 0.02749187945871003, 0.1150585885361125, 0.06799019837204447, 30.36942192051296, 2.1107254539865883, 4.652495956106781, 1.8649957706926714, 9.995137660794734, 10.492864749996944, 7.551529985900198, 36.011653533556235, 0.012949073832248439, 2.074088519104185, 17.32348374467055, 93.32137906160845, 16.67557049187241, 55.66351971149182, 0.5999879454655556, 9.782281640504454, 0.009584907548846295, 4.326950507345774, 14.788245359961241, 10.753490081997807, 49.94052560583025, 15.19954410019611, 20.32088854115537, 25.38814909428627, 16.56734574624418, 41.46998611428401, 10.753490081997807, 5.330425107549754, 7.297567969079178, 27.584657145406304, 0.5171868107707721, 21.47950688866844, 0.20618073805314138, 31.220035336197252, 2.4235035440762993, 19.64563676199194, 25.869266360753166, 8.233947205828855, 26.674551027218364, 35.79355565804457, 20.542541653911538, 5.865478921478375, 31.812458991350006, 0.17598184663734673, 1.9077748487546653, 2.403135349148055, 4.435386840626337, 0.1511905540942639, 0.26130367289255946, 44.72444020588953, 0.41336470056217, 8.33410056973227, 6.926841637721439, 1.1572195412897779, 1.1572195412897779, 117.24367726285101, 43.7670739321905, 1.1662973224371083, 111.553233517282, 32.13341959734353, 7.181962539136047, 2.4643579177472095, 4.905186178381668, 17.412351416938204, 19.82617580498182, 40.187722329918365, 0.899439615434454, 13.401843450463113, 40.301218609147014, 7.668633278076548, 32.918324462955724, 15.86677599099827, 8.428034141945322, 4.679773409758227, 14.765779979205455, 0.011033629235304352, 0.1150585885361125, 0.6423469613681273, 6.586063316696055, 6.666276245492278, 7.917980879943096, 14.830443742452912, 0.026431879213293742, 7.440905307553299, 0.5283052350526333, 11.468417140657023, 10.341452274439503, 0.0339377102139054, 7.581235948815298, 7.748422304638923, 0.08941907896917378, 0.08093848836350925, 45.43656424787162, 14.114052638560917, 30.75797544117502, 3.9128438031351687, 5.880432631442689, 3.9243681048780212, 2.758082670223275, 0.18370228884372372, 2.0738702527796318, 4.1291602008692445, 1.0172257718076605, 5.08353300447142, 10.146778179182776, 19.778937324726012, 70.92851558312755, 0.00847276098375058, 5.7170272923925385, 7.86198815787981, 2.358597220743303, 3.3678851004888672, 28.49248471645386, 31.800827041084464, 4.559231658778921, 68.80037285619838, 7.17149315957607, 49.49935826777028, 25.301685196664398, 60.72868498843832, 185.34416798315453, 58.99216499540331, 10.420799137778198, 57.2092847447673, 5.183799994543558, 0.12641509442032267, 2.0563889237384734, 44.21186543213292, 44.906456316187914, 16.663162268071716, 10.339551864416206, 134.99215095233248, 16.96762185514358, 289.4489554642079, 20.69743994818416, 125.05157385351231, 144.90519151155573, 123.88465264486337, 50.05464798399077, 0.41336470056217, 234.57760387818473, 19.908840486795775, 0.12353715109493785, 186.38621178959406, 0.20480853989180225, 80.66901574447402, 14.789941993521209, 0.2754307699387099, 0.005953056380924366, 0.14972675133074598, 0.863932787617788, 11.115643792160245, 70.08530460828125, 84.93034691630294, 21.740157900689894, 8.728675473667884, 54.208296856804424, 57.6616427324847, 24.220520347323742, 22.415394830473893, 22.55235576599342, 0.0507271491982282, 22.699878799946667, 31.643744482753778, 18.662319255344244, 76.93553721645836, 11.280191536103763, 0.6313348972184557, 7.680024453115678, 14.323586180742478, 10.33652900326858, 0.03006472801245516, 10.537285141530084, 34.37743105445203, 80.06204122496935, 3.8431463177181038, 0.9165497318131891, 63.65749582721376, 20.208176554580874, 5.43229348526248, 1.6227576546744715, 2.0111321335379775, 60.48098015751326, 61.3959910471868, 3.26284997565841, 64.84768248435495, 51.067562250168436, 99.69266756621361, 62.95836183593759, 26.387849966179154, 75.3932747654013, 7.038055378753173, 75.3932747654013, 5.9214150093899, 132.66110469599053, 0.3451690468402742, 0.06653001610599345, 52.36823677274502, 87.49214427598143, 1.6227576546744715, 0.4106221684444763, 152.82776194261953, 28.52182992630348, 0.28712437988678263, 16.169806409688476]

In [35]:
print('MSE with LOOCV:', mse_array.mean())

MSE with LOOCV: 24.231513517929226

## Fazendo com o K-Fold

In [37]:
kf = KFold(10)

mse_list = []

for train, test in kf.split(X):
    X_train, X_test = X[train], X[test]
    y_train, y_test = y[train], y[test]
    
    reg.fit(X_train, y_train)
    yhat = reg.predict(X_test)
    medida = mean_squared_error(y_test, yhat)
    mse_list.append(medida)

print(mse_list)
mse_array = np.array(mse_list)

[28.34783584097226, 17.226408542020682, 26.92535793423824, 23.36016121696417, 15.5576330367143, 17.893834560501954, 17.044768671534392, 22.836578723524884, 65.93489566837346, 39.271862328554384]

In [38]:
print('MSE with KFold:', mse_array.mean())

MSE with KFold: 27.439933652339867