# Machine Learning

## Prof. Neylson Crepalde

### Shrinkage

#### Ridge Regression

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split

from sklearn.linear_model import RidgeCV
from sklearn.linear_model import LassoCV
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error

In [4]:
bd = pd.read_csv("https://raw.githubusercontent.com/neylsoncrepalde/ML_classes/master/Data/Hitters.csv")
bd.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N

In [5]:
bd = pd.get_dummies(bd, drop_first=True)
bd = bd.dropna()
bd.shape

(263, 20)

In [6]:
bd.columns

Index(['AtBat', 'Hits', 'HmRun', 'Runs', 'RBI', 'Walks', 'Years', 'CAtBat',
       'CHits', 'CHmRun', 'CRuns', 'CRBI', 'CWalks', 'PutOuts', 'Assists',
       'Errors', 'Salary', 'League_N', 'Division_W', 'NewLeague_N'],
      dtype='object')

In [8]:
# Separando vari√°vel target
y = bd.Salary
X = bd.drop(columns='Salary')

In [9]:
# Separar em dados de treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=3)

In [10]:
rid = RidgeCV(alphas=np.linspace(0.1, 100, num=1000), fit_intercept=True, normalize=True, 
              cv=None, # Use eficient LOOCV
             store_cv_values=True)
rid.fit(X_train, y_train)

RidgeCV(alphas=array([  0.1,   0.2, ...,  99.9, 100. ]), cv=None,
    fit_intercept=True, gcv_mode=None, normalize=True, scoring=None,
    store_cv_values=True)

In [11]:
rid.alpha_ # Melhor caso foi o 0.8

0.8

In [12]:
rid.coef_ # Coeficientes estimados

array([ 6.99917640e-02,  7.01423154e-01,  5.38387460e-01,  7.74508835e-01,
        2.76399071e-01,  1.95289330e+00,  9.10088961e-01,  1.05515390e-02,
        5.33796700e-02,  2.49479186e-01,  1.06743385e-01,  9.23390062e-02,
        5.86274263e-02,  1.08983389e-01,  7.17995862e-02, -1.08955637e+00,
        2.05729680e+01, -5.56798307e+01,  5.75833399e+00])

In [13]:
yhat_rid = rid.predict(X_test)
mean_squared_error(y_test, yhat_rid)

126414.11877571637

#### Lasso

In [22]:
lasso = LassoCV(n_alphas=100, normalize=True, random_state=3)

In [30]:
lasso.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

LassoCV(alphas=None, copy_X=True, cv='warn', eps=0.001, fit_intercept=True,
    max_iter=1000, n_alphas=100, n_jobs=None, normalize=True,
    positive=False, precompute='auto', random_state=3, selection='cyclic',
    tol=0.0001, verbose=False)

In [31]:
lasso.alpha_

1.7207237875722599

In [32]:
yhat_lasso = lasso.predict(X_test)
mean_squared_error(y_test, yhat_lasso)

133479.68257331237

#### Regression Linear

In [38]:
l_regression = LinearRegression()
l_regression.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [39]:
l_regression.coef_

array([  -1.82431411,    9.01313694,   14.11122124,   -6.39876657,
         -4.91593015,    7.67132948,   -3.40871563,   -0.18037992,
         -0.12343481,   -1.41462549,    1.98945147,    1.10493638,
         -0.92282603,    0.21278794,    0.45884182,   -4.85078915,
        105.93661445, -107.34759086,  -68.58450515])

In [40]:
yhat_regression = l_regression.predict(X_test)
mean_squared_error(y_test, yhat_regression)

100144.17467271823

In [41]:
mse_reg = mean_squared_error(y_test, yhat_regression)
mse_rid = mean_squared_error(y_test, yhat_rid)
mse_lasso = mean_squared_error(y_test, yhat_lasso)

print('Linear Regression', mse_reg)
print('Ridge Regression', mse_rid)
print('Lasso Regression', mse_lasso)

Linear Regression 100144.17467271823
Ridge Regression 126414.11877571637
Lasso Regression 133479.68257331237